html {
  width: 100%;
  margin: 0 auto;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 100px 0px 25px 0px;
  color: #077187;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #077187;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #077187;
}

p {
  font-size: 1rem;
  line-height: 1.2;
  padding-right: 15%;
}


a {
  font-family: 'Montserrat', sans-serif;
  color: #8AA29E;
  text-decoration: none;
}

a:hover {
  color: #DB5461;
}

.left {
  width: 60%;
  padding: 32px 20px 32px 24px;
}

.right {
  width: 40%;
  padding: 32px 24px 32px 20px;
}

.side {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: auto;
  border-left: 1px #F1EDEE solid;
  padding: 16px;
}

.side:hover {
  background-color: #F1EDEE;
}

.side-img {
  width: 35%;
  height: auto;
}

.side-txt {
  padding-left: 16px;
}


/*   HEADER   */
header {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 64px;
  padding: 0px 24px;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.logo span {
  font-weight: 400;
  opacity: .5;
}

.logo-img {
  padding-right: 5px;
}

nav a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding-right: 16px;
}

/*   BANNER 1   */
#banner {
  display: flex;
  background-color: #F1EDEE;
}

#banner .banner-img {
  display: block;
  width: 100%;
}

#banner h3 {
  margin-bottom: 25px;
  margin-right: 100px;
  line-height: 1.4;
}

.button {
  background-color: #8AA29E;
  margin-bottom: 33%;
  padding: 8px;
  width: 25%;
  text-align: center;
}

.button:hover {
  background-color: #DB5461;
}

.button a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
}

/*   BANNER 2   */
#learn {
  display: flex;
  padding-bottom: 25px;
}

#learn .banner-img {
  display: block;
  margin: 16px auto 0;
  width: 100%;
}

#learn h2 {
  margin: 32px 0px 24px 0px;
}

#learn span {
  line-height: 2;
  opacity: .5;
}

#orientation .side-img {
}

#campus .side-img {

}

#lecture .side-img {

}

#learn h4, p {
  padding-bottom: 10px;
}

/*   BANNER 3   */

.course {
  background-color: #F1EDEE;
  padding: 50px;
}

.course h2 {
  text-align: center;
  padding-bottom: 25px;
}

.gallery {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
  background-color: white;
  padding-bottom: 25px;
}

.section p {
  padding: 5px 16px;
}

.section h4 {
  padding: 16px 16px 0px 16px;
}

.section .c {
  text-transform: uppercase;
  padding: 5px 16px;
}

#software .img-bg {
  background-image:url("../media/course-software.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

#computer-art .img-bg {
  background-image:url("../media/course-computer-art.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

#design .img-bg {
  background-image:url("../media/course-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

#data .img-bg {
  background-image:url("../media/course-data.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

#business .img-bg {
  background-image:url("../media/course-business.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

#marketing .img-bg {
  background-image:url("../media/course-marketing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

/*   BANNER 4   */
.thesis {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.content {
  display: flex;
}

.thesis h2 {
  text-align: center;
}

.thesis .content {
  display: flex;
}

video {
  width: 100%;
  margin-top: 16px;
}

.content .left h4 {
  padding: 24px 0 16px 0;
}

.content .side h4, p {
  padding-bottom: 10px;
}

#fisma .side-img {

}

#now .side-img {
}

/*   FOOTER   */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-top: 1px #F1EDEE solid;
}

.footer p {
  padding: 0;
  margin: 0;
}
